{%extends 'base.html'%}

{%block title%}
    | About
{%endblock%}
{%block content%}
<h1 style="font-family: 'Gotu', sans-serif;text-align:center;margin-top:1.5%">About</h1>

<div class="card" style="margin-left: 11%;margin-right:11%">
    <h5 class="card-header" style="font-family: 'Gotu', sans-serif;">About Me</h5>
    <div class="card-body">
      
      <p class="card-text" style="font-family: 'Gotu', sans-serif;">My name is Shreesh Arya and i am a Web Developer who likes to create dynamic and beautiful web pages. <br>
        I'm also passionate about open source contributions, working in high impact environments with frequent deployments, and helping growing development teams build great products.
      </p>

    </div>
  </div>
<div class="card-columns" style="padding-left: 110px; margin-top:1%">
    <div class="card" style="margin-left: 11%;margin-right:50%">
        <h5 class="card-header" style="font-family: 'Gotu', sans-serif;">Skills</h5>
        <div class="card-body">
          
          <p class="card-text" style="font-family: 'Gotu', sans-serif;">
              <ul>
                  <li>C/C++</li>
                  <li>MySQL</li>
                  <li>PostgreSQL</li>
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>Python</li>
                  <li>Django</li>
                  <li>Java(Basics)</li>
                    <li>English Language Proficiency</li>
                    <li>Spoken English</li>
              </ul>
          </p>
    
        </div>
      </div>

      <div class="card" style="margin-left: 11%;margin-right:50%">
        <h5 class="card-header" style="font-family: 'Gotu', sans-serif;">Experience</h5>
        <div class="card-body">
          
          <p class="card-text" style="font-family: 'Gotu', sans-serif;">
            <ul>
                <li>Intern at ONGC</li>
            </ul>
        </p>
    
        </div>
      </div>
</div>
  
<div class="card" style="margin-left: 11%;margin-right:50%">
    <h5 class="card-header" style="font-family: 'Gotu', sans-serif;">Projects</h5>
    <div class="card-body">
      
      <p class="card-text" style="font-family: 'Gotu', sans-serif;">
      </p>

    </div>
  </div>
{%endblock%}