{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container">

  <div class="welcome">
    Welcome to the Blog!
</div>
    
    <!-- ALERTS -->
  {%include 'partials/_alerts.html' %}

  <img src="{%static 'img/home.jpeg'%}" id="static_home_img" alt="Responsive image" class="img-fluid " style="width: auto;">

   

    <div id="recent_post_heading">
        Recent Posts:
    </div>
          {%for recent_post in recent_posts%}
                 

                
                
                    

                
                  
                  <div class="card-group" >
                    <div class="card" style="background: transparent;width:100%;height:auto;margin-top:1%;margin-bottom:1%">
                      {%if recent_post.image%}
                        <img class="img-fluid" id="recent_posts_img" src="{{recent_post.image.url}}" alt="Responsive image" >
                        {%endif%}
                      <div class="card-body" style="width:100%;height:auto">
                        <h2 class="card-title" id="recent_posts_title_h2"><a id="recent_posts_title" href="{% url 'post' recent_post.id%}" >{{recent_post.title}}</a></h2>
                        <p class="card-text" style="font-family: 'Gotu', sans-serif;">{{recent_post.body | slice:":400"}}
                            <br>
                            <a href="{% url 'post' recent_post.id%}" >continue reading...</a>
                        </p>
                        <p class="card-text" ><small style="font-size: 125%;" class="text-muted">Modified on:{{recent_post.last_modified}}</small></p>
                      </div>
                    </div>
                    
                  </div>
                
                
          {%endfor%}

          
      
</div>
{%endblock%}

