{%extends 'base.html'%}


{%block title%}
    | {{post_details.title}}
{%endblock%}
{%block content%}

{%if post_details%}
<div class="card mb-3" style="background-color: transparent;margin-left:10%;margin-right:10%;margin-top:2%">
    <h5 class="card-title" style="font-size:250%;font-family: 'Gotu', sans-serif; color: rgba(43, 39, 39, 0.945);margin-top:2%">{{post_details.title}}</h5>
    {%if post_details.image%}
    <img src="{{post_details.image.url}}" class="img-fluid" alt="Responsive image" style="position:responsive;padding-left:2%;padding-right:2%;margin-left: 5%;margin-right:5%;margin-top:2%;margin-bottom:2%">
    {%endif%}
    <div class="card-body" >
      <p class="card-text" style="margin-left:5%;margin-right:5%;font-family: 'Gotu', sans-serif; font-size:110%;color: rgba(43, 39, 39, 0.945);">{{post_details.body}}</p>
      <p class="card-text" style="margin-left:70%;font-size:150%;color: rgba(43, 39, 39, 0.945);"><small class="text-muted">Last Updated:{{post_details.last_modified}}</small></p>
    </div>
  </div>
        
    
    
{%endif%}
{%endblock%}


