{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/all.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>shreesh blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index'%}">SHREESH BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li {% if '/' == request.path %} 
            class="nav-item active mr-3"
            {%else%}
            class="nav-item mr-3"
            {%endif%}
            >
              <a class="nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li {%if '/list/' == request.path %}
            class="nav-item active mr-3"
            {%else%}
            class="nav-item mr-3"
            {%endif%}>
              <a class="nav-link" href="{% url 'post_list'%}">Posts</a>
            </li>
            <li {%if '/about' == request.path%} 
            class="nav-item active mr-3"
            {%else%}
            class="nav-item mr-3"
            {%endif%}>
              <a class="nav-link" href="{% url 'about'%}">About</a>
            </li>
            
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
              <a class="nav-link" href="{%url 'register'%}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" href="{%url 'login'%}">
                <i class="fas fa-sign-in-alt"></i>Login</a>
            </li>
          </ul>
        </div>
      </nav>
    {%block content%}
    {%endblock%}

    <footer id="main-footer" class="py-4 bg-primary text-white text-center">
        Copyright &copy;
        <span class="year"></span> Shreesh Arya
      </footer>
  <!-- Footer -->
</body>
</html>




